<MudNavMenu>
        <MudNavLink class="nav-link" href="seriesViewer">
            <span class="oi"><MudIcon Icon="@Icons.Filled.GridOn" Size="Size.Medium" /></span> Series &amp; Observations
        </MudNavLink>

        <MudNavLink class="nav-link" href="databaseMaintenance">
            <span class="oi"><MudIcon Icon="@Icons.Filled.Save" Size="Size.Medium" /></span> Database
        </MudNavLink>
</MudNavMenu>

    
@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private ActiveMenu _ActiveMenu;
    protected ActiveMenu ActiveMenu 
    {
        get => _ActiveMenu;
        set
        {
            if(_ActiveMenu != value)
            {
                _ActiveMenu = value;
                StateHasChanged();
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavigationManager.LocationChanged += LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        string loc = e.Location.Split('/').Last();
        ActiveMenu lastValue = ActiveMenu;
        ActiveMenu = loc switch
        {

            "databaseMaintenance" => ActiveMenu.Database,
            "verifyDatabase" => ActiveMenu.Database,
            "createDatabase" => ActiveMenu.Database,
            "deleteDatabase" => ActiveMenu.Database,
            _ => ActiveMenu.Main
        };
    }
}
